/* Основные стили */
.header {
    background-color: #f6f5f2;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #4c90af;
}

.messengers {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 18px;
    color: #4c90af;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon:hover {
    color: #666;
    transform: scale(1.2);
}

/* Навигация */
.nav {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.link {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 10px 15px;
}

.link:hover {
    color: #4c90af;
}

.active {
    font-weight: bold;
    color: #4c90af;
}

/* Бургер-меню */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 100;
}

.burgerLine {
    width: 100%;
    height: 3px;
    background-color: #4c90af;
    border-radius: 3px;
    transition: transform 0.3s, background-color 0.3s;
}

.burgerActive .burgerLine:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burgerActive .burgerLine:nth-child(2) {
    opacity: 0;
}

.burgerActive .burgerLine:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navOpen {
    transform: translateY(0);
}

/* Мобильные стили */
@media (max-width: 768px) {
    .header {
        max-width: 100%;
        padding: 10px;
    }

    .burger {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        transform: translateY(-200%);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 99;
        width: 100%;
    }

    .navOpen {
        transform: translateY(0);
    }

    .link {
        font-size: 18px;
        width: 80%;
        text-align: center;
        padding: 10px 0;
        display: block;
    }
}
