/* Основной контейнер */
.main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Левый блок */
.shapeLeft {
    flex: 1;
    height: 80vh;
    min-width: 300px;
    padding: 15px;
    background-color: #f0efee;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shapeLeft:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #4c90af;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.intro {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

/* Кнопка */
.button {
    background-color: #fff;
    border: 2px solid #4c90af;
    color: #4577a0;
    font-size: 16px;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #4c90af;
    color: #fff;
    transform: scale(1.05);
}

/* Основной текст */
.mainText {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: justify;
    padding: 30px;
    text-indent: 30px;
}

.quoteAuthor {
    font-style: italic;
    color: #4c90af;
    margin-top: 10px;
    text-align: center;
}

/* Правый блок */
.shapeRight {
    flex: 1;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

/* Мобильные стили */
@media (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
    }

    .shapeLeft, .shapeRight {
        flex: none;
        width: 90%;
        height: auto;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
    }

    .button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }
    .contentContainer {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .subtitle {
        font-size: 18px;
    }

    .button {
        font-size: 14px;
        max-width: 90%;
    }
    .shapeLeft {
        width: 90%;
        margin-top: 0;
        height: 50%;
    }
    .image {
        width: 80%;
        height: 50%;
    }
    .mainText {
        line-height: 1.5;
        margin-top: 5px;
    }
    .main {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}
