.work {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f6f5f2;
    padding: 40px 20px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    display: inline-block;
    padding: 12px 18px;
    background-color: #fff;
    border: 2px solid #4c90af;
    border-radius: 8px;
    color: #4c90af;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    min-width: 150px;
    transform: scale(0.95);

}

.tag:hover {
    background-color: #4c90af;
    color: #fff;
    transform: scale(1.05);
}

.footer {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.button {
    align-items: center;
    justify-content: center;
    background: #4c90af;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    min-width: 180px;
    text-align: center;

}

.button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
        padding-bottom: 15px;
    }

    .description {
        font-size: 14px;
    }

    .tag {
        font-size: 13px;
        padding: 10px 15px;
        min-width: 120px;
    }

    .button {
        font-size: 14px;
        padding: 10px 20px;
        min-width: 160px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .subtitle {
        font-size: 10px;
        color: #666;
        margin-bottom: 10px;
    }
    .description {
        font-size: 14px;
    }

    .tag {
        font-size: 12px;
        padding: 8px 12px;
        min-width: 100px;
        overflow: hidden;           /* скрываем переполнение */
        text-overflow: ellipsis;
        white-space: normal;         /* Разрешает перенос текста на новые строки */
        word-wrap: break-word;       /* Перенос длинных слов (для старых браузеров) */
        overflow-wrap: break-word;   /* Современный аналог для переноса длинных слов */
    }

    .button {
        font-size: 14px;
        padding: 8px 18px;
        min-width: 140px;
    }
}
