.main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Левый блок */
.shapeLeft {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #f0efee;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shapeLeft:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

/* Правый блок */
.shapeRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

/* Мобильные стили */
@media (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
    }

    .shapeLeft, .shapeRight {
        flex: none;
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 26px;
    }

    .subtitle {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
        max-width: 100%;
    }

    .mainText {
        font-size: 12px;
        text-indent: 20px;
    }

    .shapeRight {
        width: 100%;
    }
}
.button {
    display: inline-block;
    padding: 12px 25px;
    background: #4c90af;
    color: #fff;
    border: 2px solid #4c90af;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}

