.articlesPage {
    padding: clamp(15px, 3vw, 20px);
    max-width: 1000px;
    margin: auto;
}

.title {
    font-size: clamp(22px, 3.5vw, 28px);
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.article {
    margin-bottom: clamp(25px, 5vw, 40px);
    background: linear-gradient(135deg, #c3d1dd, #fefdff);
    padding: clamp(15px, 3vw, 20px);
    border-radius: 10px;
}

.articleTitle {
    font-size: clamp(18px, 3vw, 24px);
    margin-bottom: 10px;
    color: #000;
}

.articleText {
    font-size: clamp(14px, 1.8vw, 16px);
    line-height: 1.6;
}

/* Адаптивные стили */
@media (max-width: 1024px) {
    .articlesPage {
        max-width: 92%;
    }
}

@media (max-width: 768px) {
    .articlesPage {
        max-width: 95%;
    }
}

@media (max-width: 480px) {
    .articlesPage {
        max-width: 100%;
    }
}
