/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Lora', sans-serif;
    color: #333;
    background-color: #f6f5f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #4c90af;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    text-indent: 30px;
    line-height: 1.6;
}
